version: 2.1
orbs:
  architect: giantswarm/architect@4.15.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite"
          name: "package and push rbac-bootstrap chart"
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "rbac-bootstrap"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/
